.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 121px);

    h1 {
        color: #fff;
        font-size: 40px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    a {
        border: 1px solid #fff;
        color: #fff;
        padding: 15px 35px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
    }
}